@import 'tailwindcss';

@layer base {
  button {
    border: 2px solid var(--color-slate-800);
    background-color: var(--color-slate-900);
    color: var(--color-slate-300);
    cursor: pointer;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.1;
    font-weight: 600;
    margin: 0.5em 0 0.8em 0;
    color: var(--color-slate-100);
  }
}
